{% extends "template.html" %}
{% block body %}
<form role="search">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search Courses">
    </div>
</form>
{% endblock %}
{% block list %}
<div class="panel panel-default">
    <div class="panel-body">
        <ul class="list-group">
            <h3>Courses</h3>
            {% for course in courses %}
            <a href="/{{course.code}}" style="text-decoration: none !important">
                <li class="list-group-item">
                    <strong class="col-sm-2">{{course.code}}</strong>
                    {{course.name}}
                    <div class="badge">Year {{course.year}}</div>
                </li>
            </a>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
