<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h2>Sign Up</h2>
  {% if error %}<p class="error"><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('signup') }}" method="post">
    <dl>
        <dt>First Name
        <dd><input type="text" name="f_name" required>
        <dt>Last Name
        <dd><input type="text" name="l_name" required>
        <dt>Email:
        <dd><input type="email" name="email" required>
        <dt>Password:
        <dd><input type="password" name="password" required>
        <dd><input type="submit" value="Sign up">
    </dl>
  </form>
</body>
</html>